.label {
  height: 2in;
  outline: 1px solid black;
  border-radius: 0.16in;
  display: grid;
  /* background-color: purple; */
  gap: 0.0in;
  grid-template-areas:
    'header header'
    'description codes';
  overflow: hidden;
}

.label-header {
  display: flex;
  grid-area: header;
  font-size: 10.5pt;
  font-weight: 600;
  /* background-color: blue; */
  padding-left: 0.1in;
  height: 0.25in;
}

.label-info-block {
  grid-area: description;
  /* background-color: green; */
  padding-left: 0.1in;
  width: 2.66in;
  height: 1.75in;
  /* margin-top: 0; */
}

.label-info-block > div {
  margin-bottom: 10pt;
}

.label-law-warning {
  color: red;
  font-size: 7pt;
  font-weight: 600;
}

.label-regulatory {
  font-weight: 600;
}


.label-inline-fill {
  display: flex;
}
.label-fill {
  flex-grow: 1;
  border-bottom: 1px solid black;
  margin: 0 0.1in;
  padding: 0 0.1in;
}
.label-description {
  margin-right: 0.1in;
  width: 42ch;
  white-space: pre-wrap;
  word-wrap: break-word;
}

@media print {
  .label {
    outline: none;
  }
}